@section scripts {
    <script type="text/javascript" src="/js/SonyApi.js"></script>
    <script type="text/javascript" src="/js/Token.js"></script>
    <script type="text/javascript" src="/js/BlobStorage.js"></script>
    <script type="text/javascript" src="/js/ZoneDetection.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
}
<body>
    <section class="content-header" style="padding:0.5em">
        <div class="container-fluid">
            <div class="row mb-2" style="margin:0!important">
                <h3 style="margin:0">Sony IMX500 Hands-on Lab Custom Vision</h3>
            </div>
        </div>
    </section>
    <!-- Main content -->
    <div id="loader" class="loading" style="display:none"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="tab-main" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-setup-label" data-toggle="pill" href="#tabs-setup" role="tab" aria-controls="tabs-setup" aria-selected="true">Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-telemetry-label" data-toggle="pill" href="#tab-telemetry" role="tab" aria-controls="tab-telemetry" aria-selected="false">Telemetry/Events</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="tab-main">
                            <div class="tab-pane fade show active" id="tabs-setup" role="tabpanel" aria-labelledby="tab-setup-label">
                                <div class="row">
                                    <div class="col-md-3" height="640" width="640" style="min-width:640px; max-width:640px;min-height:640px; padding:0">
                                        <div class="container loader-parent"  height="640" width="640">
                                            <div class="row justify-content-center align-items-center">
                                                <canvas id="captureImageCanvasOverlay"     height="640" width="640" style="max-width:640px;max-height:640px;z-index:300"></canvas>
                                                <canvas id="captureImageCanvasZoneOverlay" height="640" width="640" style="max-width:640px;max-height:640px;z-index:200;position:absolute"></canvas>
                                                <canvas id="captureImageCanvas"            height="640" width="640" style="max-width:640px;max-height:640px;z-index:100;position:absolute"></canvas>
                                            </div>
                                            <div id="captureImageCanvasLoaderWrapper"  class="canvasLoaderWrapper" height="640" width="640" style="display:none">
                                                <div id="canvasLoader">
                                                </div>
                                                <div class="loading-text canvasLoaderText">Waiting for an image. This can take a few minutes.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="accordion">
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h4 class="card-title w-100">
                                                        <a class="d-block w-100" data-toggle="collapse" href="#accordionCaptureImage">
                                                            Step 1 : Capture Image
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionCaptureImage" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <div class="callout callout-info">
                                                                    <h5>Capture one image from camera</h5>
                                                                    <p>Select Device ID and Model ID to use to capture image</p>
                                                                </div>
                                                                <label for="captureDeviceIdList">Device ID</label>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <select name="captureDeviceIdList" id="captureDeviceIdList" class="form-control custom-select"></select>
                                                                        <div class="input-group-append">
                                                                            <button type="button" class="btn btn-success" style="min-width:1em" id="captureDeviceIdListRefreshBtn">
                                                                                <i class="fas fa-sync btn-fa" style="margin:0"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="captureModelIdList">Model ID</label>
                                                                    <select name="captureModelIdList" id="captureModelIdList" class="form-control custom-select" disabled></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="footer-div">
                                                            <button type="button" class="btn btn-success" id="captureImageBtn" disabled>
                                                                <i class="fas fa-camera btn-fa"></i>Capture
                                                            </button>
                                                            <div class="info-box-text vertical-center" id='captureImageBtnResult'>Place Holder : To be deleted</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h4 class="card-title w-100">
                                                        <a class="d-block w-100" data-toggle="collapse" href="#accordionSpecifyZone">
                                                            Step 2 : Specify Zone
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionSpecifyZone" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <div class="callout callout-info">
                                                                    <h5>Specify zone of interest</h5>
                                                                    <p>Use mouse to select zone.  Click on a corner to adjust.</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-auto">
                                                                        <div style="text-align:right">
                                                                            <strong>Top Left</strong>
                                                                        </div>
                                                                        <div style="text-align:right">
                                                                            <strong >Bottom Right</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div>
                                                                            <pre class="pre-inline">(x:<pre class="pre-inline" id="region_x"></pre>, y:<pre class="pre-inline" id="region_y"></pre>)</pre>
                                                                        </div>
                                                                        <div>
                                                                            <pre class="pre-inline">(x:<pre class="pre-inline" id="region_w"></pre>, y:<pre class="pre-inline" id="region_h"></pre>)</pre>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h4 class="card-title w-100">
                                                        <a class="d-block w-100" data-toggle="collapse" href="#accordionStartInference">
                                                            Step 3 : Set Parameters and Test Inference
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionStartInference" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="info-box">
                                                            <div class="info-box-content">
                                                                <div class="callout callout-info">
                                                                    <h5>Set Parameters</h5>
                                                                    <p>Adjust parameters and test detection.  A bounding box is drawn for each detected object with detection confidence level in Yellow and Overlapping rate (IoU) in Green.</p>
                                                                </div>
                                                                <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                                    <label for="captureImageCountSlider" style="margin-right:0.5em; width:11em">Number of images : </label>
                                                                    <div class="slider-blue" style="margin:0 1em 0 1em;width:50%; min-width:20%">
                                                                        <input type="range" class="slider" min="0" max="1000" value="5" step="1" id="captureImageCountSlider" style="width:100%">
                                                                    </div>
                                                                    <span><span id="captureImageCountSliderLabel"></span><span> images</span></span>
                                                                </div>
                                                                <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                                    <label for="captureThresholdSlider" style="margin-right:0.5em; width:11em">Threashold (percent) : </label>
                                                                    <div class="slider-blue" style="margin:0 1em 0 1em;width:50%; min-width:20%">
                                                                        <input type="range" class="slider" min="0" max="100" value="80" step="1" id="captureThresholdSlider" style="width:100%">
                                                                    </div>
                                                                    <span> <span id="captureThresholdSliderLabel"></span><span> %</span></span>
                                                                </div>
                                                                <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                                    <label for="captureFrequencySlider" style="margin-right:0.5em; width:11em">Frequency (seconds) : </label>
                                                                    <div class="slider-blue" style="margin:0 1em 0 1em;width:50%; min-width:20%">
                                                                        <input type="range" class="slider" min="10" max="60" value="10" step="1" id="captureFrequencySlider" style="width:100%">
                                                                    </div>
                                                                    <span id="captureFrequencySliderLabel"></span><span>&nbsp;sec</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="footer-div">
                                                            <button type="button" class="btn btn-success btn-icon" id="captureStartInferenceBtn" disabled>
                                                                <i class="fas fa-play btn-fa"></i>Start
                                                            </button>
                                                            <button type="button" class="btn btn-success btn-icon" id="captureStopInferenceBtn" disabled>
                                                                <i class="fas fa-stop btn-fa"></i>Stop
                                                            </button>
                                                            <div class="info-box-text vertical-center" id="captureStartInferenceBtnResult">Place Holder : To be deleted</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h4 class="card-title w-100">
                                                        <a class="d-block w-100" data-toggle="collapse" href="#accordionSaveParameter">
                                                            Step 4 : Save Parameters
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="accordionSaveParameter" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="callout callout-info">
                                                            <h5>Save Parameters</h5>
                                                            <p>Save parameters to cookie for future use.  Parameters are saved for 3 days.</p>
                                                        </div>
                                                        <div class="div-Button-Right">
                                                            <button type="button" class="btn btn-success" id="captureSaveParameterBtn" disabled>
                                                                <i class="fas fa-play btn-fa"></i>Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-telemetry" role="tabpanel" aria-labelledby="tab-telemetry-label">
                                <div class="info-box" style="margin-bottom:0.5em">
                                    <div class="info-box-content">
                                        <div class="form-group">
                                            <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                <label for="zoneDetectionDeviceIdList" style="margin-right:0.5em; width:11em;justify-content:right">Select Device ID : </label>
                                                <div class="input-group" style="min-width:15em; width:30%">
                                                    <select name="zoneDetectionDeviceIdList" id="zoneDetectionDeviceIdList" class="form-control custom-select"></select>
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-success" style="min-width:1em" id="zoneDetectionDeviceIdListRefreshBtn">
                                                            <i class="fas fa-sync btn-fa" style="margin:0"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                <label for="zoneDetectionModelIdList" style="margin-right:0.5em; width:11em;justify-content:right">Select Model ID : </label>
                                                <select name="zoneDetectionModelIdList" id="zoneDetectionModelIdList" class="form-control custom-select" style="min-width:15em; width:30%" disabled></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                        <label for="zoneDetectionImageCountSlider" style="margin-right:0.5em; width:11em;justify-content:right">Number of images : </label>
                                                        <div class="slider-blue" style="margin:0 1em 0 0;width:50%; min-width:20%">
                                                            <input type="range" class="slider" min="0" max="1000" value="50" step="1" id="zoneDetectionImageCountSlider" style="width:100%">
                                                        </div>
                                                        <span><span id="zoneDetectionImageCountSliderLabel"></span><span> images</span></span>
                                                    </div>
                                                    <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                        <label for="zoneDetectionThresholdSlider" style="margin-right:0.5em; width:11em;justify-content:right">Detection Threashold : </label>
                                                        <div class="slider-blue" style="margin:0 1em 0 0;width:50%; min-width:20%">
                                                            <input type="range" class="slider" min="0" max="100" value="80" step="1" id="zoneDetectionThresholdSlider" style="width:100%">
                                                        </div>
                                                        <span> <span id="zoneDetectionThresholdSliderLabel"></span><span>&nbsp;%</span></span>
                                                    </div>
                                                    <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                        <label for="zoneDetectionNotificationPeriodSlider" style="margin-right:0.5em; width:11em;justify-content:right">Notificaiton Period : </label>
                                                        <div class="slider-blue" style="margin:0 1em 0 0;width:50%; min-width:20%">
                                                            <input type="range" class="slider" min="1" max="60" value="30" step="1" id="zoneDetectionNotificationPeriodSlider" style="width:100%">
                                                        </div>
                                                        <span> <span id="zoneDetectionNotificationPeriodSliderLabel"></span><span>&nbsp;sec</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                    <label for="zoneDetectionFrequencySlider" style="margin-right:0.5em; width:11em;justify-content:right">Frequency (seconds) : </label>
                                                    <div class="slider-blue" style="margin:0 1em 0 0;width:50%; min-width:20%">
                                                        <input type="range" class="slider" min="0" max="60" value="10" step="1" id="zoneDetectionFrequencySlider" style="width:100%">
                                                    </div>
                                                    <span id="zoneDetectionFrequencySliderLabel"></span><span>&nbsp;sec</span>
                                                </div>
                                                <div class="row div-Horizontal-Input" style="justify-content:left;width:100%">
                                                    <label for="zoneDetectionIoUThresholdSlider" style="margin-right:0.5em; width:11em;justify-content:right">IoU Threashold : </label>
                                                    <div class="slider-blue" style="margin:0 1em 0 0;width:50%; min-width:20%">
                                                        <input type="range" class="slider" min="0" max="100" value="50" step="1" id="zoneDetectionIoUThresholdSlider" style="width:100%">
                                                    </div>
                                                    <span> <span id="zoneDetectionIoUThresholdSliderLabel"></span><span>&nbsp;%</span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btnStatusDiv">
                                            <button type="button" class="btn btn-success" id="startZoneDetectionWithImageBtn" disabled>
                                                <i class="fas fa-play btn-fa"></i>Start Inference
                                            </button>
                                            <button type="button" class="btn btn-success" id="startZoneDetectionBtn" disabled>
                                                <i class="fas fa-play btn-fa"></i>Start Inference (No Image)
                                            </button>
                                            <button type="button" class="btn btn-success" id="stopZoneDetectionBtn" disabled>
                                                <i class="fas fa-stop btn-fa"></i>Stop Inference
                                            </button>
                                            <div class="info-box-text vertical-center" id='startZoneDetectionBtnResult'>Place Holder : To be deleted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-box">
                                    <div class="info-box-content">
                                        <div class="row">
                                            <div class="col-md-3" height="320" width="320" style="min-width:320px; max-width:320px;min-height:320px">
                                                <div class="container loader-parent" height="320" width="320" >
                                                    <div class="row justify-content-center align-items-center">
                                                        <canvas id="zoneDetectionCanvasOverlay"     height="320" width="320" style="max-width:320px;max-height:320px;z-index:300"></canvas>
                                                        <canvas id="zoneDetectionCanvasZoneOverlay" height="320" width="320" style="max-width:320px;max-height:320px;z-index:200;position:absolute"></canvas>
                                                        <canvas id="zoneDetectionCanvas"            height="320" width="320" style="max-width:320px;max-height:320px;z-index:100;position:absolute"></canvas>
                                                    </div>
                                                    <div id="zoneDetectionCanvasLoaderWrapper" class="canvasLoaderWrapper" height="320" width="320" style="display:none">
                                                        <div id="canvasLoader">
                                                        </div>
                                                        <div class="loading-text canvasLoaderText">Waiting for an image. This can take a few minutes.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md" style="min-width:60vw">
                                                <div id='barChartDiv' class="chart">
                                                    <canvas id="barChart" style="min-height: 330px; height: 350px; max-height: 350px;width:auto"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let hubConnection;
        let start;
        let currentDeviceId = undefined;
        let currentModelId = undefined;
        let captureThresholdSlider = document.getElementById("captureThresholdSlider");
        let captureThresholdSliderLabel = document.getElementById("captureThresholdSliderLabel");
        let captureFrequencySlider = document.getElementById("captureFrequencySlider");
        let captureFrequencySliderLabel = document.getElementById("captureFrequencySliderLabel");
        let captureImageCountSlider = document.getElementById("captureImageCountSlider");
        let captureImageCountSliderLabel = document.getElementById("captureImageCountSliderLabel");
        let zoneDetectionImageCountSlider = document.getElementById("zoneDetectionImageCountSlider");
        let zoneDetectionImageCountLabel = document.getElementById("zoneDetectionImageCountSliderLabel");
        let zoneDetectionThresholdSlider = document.getElementById("zoneDetectionThresholdSlider");
        let zoneDetectionThresholdLabel = document.getElementById("zoneDetectionThresholdSliderLabel");
        let zoneDetectionIoUThresholdSlider = document.getElementById("zoneDetectionIoUThresholdSlider");
        let zoneDetectionIoUThresholdLabel = document.getElementById("zoneDetectionIoUThresholdSliderLabel");
        let zoneDetectionFrequencySlider = document.getElementById("zoneDetectionFrequencySlider");
        let zoneDetectionFrequencyLabel  = document.getElementById("zoneDetectionFrequencySliderLabel");
        let zoneDetectionNotificationPeriodSlider = document.getElementById("zoneDetectionNotificationPeriodSlider");
        let zoneDetectionNotificationPeriodLabel = document.getElementById("zoneDetectionNotificationPeriodSliderLabel");

        let thresholdSliderHandler;
        let imageCountSliderHandler;
        let zoneDetectionFrequencySpinnerHandler;
        let zoneDetectionThresholdSliderHandler;
        let zoneDetectionIoUThresholdSliderHandler;
        let zoneDetectionImageCountSliderHandler;
        let frequencySpinnerHandler;
        let barChart;
        let currentThreshold = 0.8;
        let currentIoUThreshold = 0.5;
        let currentNotificationPeriod = 30;
        let isZoneDetectionRunning = false;
        let rect_zone = [-1, -1, -1, -1];
        var capture_photo_url = undefined;

        let chartOptions = {
            legend: {
                display: false
            },
            scales: {
                x : {
                    display: true,
                    type: 'timeseries',
                    time: {
                        unit: 'second'
                    },
                    ticks: {
                        source : 'data'
                    },
                    grid: {
                        display: false,
                    }
                },
                y: {
                    display: true,
                    suggestedMax: 5,
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
            },
            plugins: {
                legend: false
            }
        }

        var chartData = {
                labels: [],
                datasets: [
                    {
                        label: "Inference Results",
                        backgroundColor: "rgba(75,192,192,0.9)",
                        borderWidth: 0,
                        barPercentage: 1.0,
                        categoryPercentage: 1.0,
                        clip : 5,
                        data: [],
                    }
                ]
            };

        $(document).ready(async function () {
            toggleLoader(false);
            console.debug("Safety Detection : document.Ready");
            document.getElementById('nav-link-home').classList.remove('active');
            document.getElementById('nav-link-sd').classList.add('active');

            initCaptureCanvas('captureImageCanvasZoneOverlay', 'captureImageCanvasOverlay', 'captureImageCanvas');
            ClearCaptureCanvas();

            hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("telemetryHub")
                .configureLogging(signalR.LogLevel.Debug)
                .build();

            hubConnection.on('DeviceTelemetry', function(payload) {
                printTime("=> Telemetry");
                processTelemetryMessage(payload, barChart, currentThreshold, currentIoUThreshold, currentNotificationPeriod);
            });

            hubConnection.on('CosmosDb', function(payload) {
                printTime("=> CosmosDb");
                processCosmosDbMessage(payload, currentThreshold);
            });

            hubConnection.on('blobTrigger', function(payload) {
                printTime("=> blobTrigger");
                processBlobMessage(payload);
            });

            hubConnection.start()
                .then(() => console.log('SignalR connected!'))
                .catch(console.error);

            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            barChart = new Chart(barChartCanvas, {
                backgroundColor: "transparent",
                type: 'bar',
                data: chartData,
                options: chartOptions
            });

            if (document.cookie.length > 0)
            {
                var settings = parseCookie(document.cookie);

                if (settings.ZoneDetectionDevId != undefined)
                {
                    currentDeviceId = settings.ZoneDetectionDevId;
                }

                if (settings.ZoneDetectionModelId != undefined)
                {
                    currentModelId = settings.ZoneDetectionModelId;
                }

                if (settings.ZoneDetectionRect != undefined)
                {
                    var json = JSON.parse(settings.ZoneDetectionRect);

                    for (var i = 0; i < json.length; i++)
                    {
                        rect_zone[i] = parseInt(json[i]);
                    }
                }

                if (settings.ZoneDetectionThreshold != undefined)
                {
                    captureThresholdSlider.value = settings.ZoneDetectionThreshold;
                    zoneDetectionThresholdSlider.value = settings.ZoneDetectionThreshold;
                    currentThreshold = parseInt(settings.ZoneDetectionThreshold) / 100;
                }

                if (settings.capture_photo_url != undefined)
                {
                    capture_photo_url = settings.capture_photo_url;
                }

                if (currentDeviceId != undefined && currentModelId != undefined)
                {
                    // Set up UI with initial values
                    await SetDeviceLists(currentDeviceId, currentModelId);
                }
               
                if (currentDeviceId != undefined && currentModelId != undefined && capture_photo_url != undefined && rect_zone[0] != -1 && rect_zone[1] != -1 && rect_zone[2] != -1 && rect_zone[3] != -1)
                {
                    
                    //$('#accordionCaptureImage').collapse('toggle');
                    await SetCaptureCanvas(currentDeviceId, capture_photo_url, rect_zone);
                }
                console.debug(`Dev   : ${currentDeviceId}`);
                console.debug(`Model : ${currentModelId}`);
                console.debug(`Url   : ${capture_photo_url}`);
                console.debug(`Rect  : ${rect_zone[0]}, ${rect_zone[1]}, ${rect_zone[2]}, ${rect_zone[3]}`);
            }

            captureThresholdSliderLabel.innerHTML = captureThresholdSlider.value;
            captureFrequencySliderLabel.innerHTML = captureFrequencySlider.value;
            captureImageCountSliderLabel.innerHTML = captureImageCountSlider.value;
            zoneDetectionThresholdLabel.innerHTML = zoneDetectionThresholdSlider.value;
            zoneDetectionIoUThresholdLabel.innerHTML = zoneDetectionIoUThresholdSlider.value;
            zoneDetectionFrequencyLabel.innerHTML = zoneDetectionFrequencySlider.value;
            zoneDetectionImageCountLabel.innerHTML = zoneDetectionImageCountSlider.value;
            zoneDetectionNotificationPeriodLabel.innerHTML = zoneDetectionNotificationPeriodSlider.value;

            toggleLoader(true);
        });

        ////////////////////////////////////////////////////////////////
        // Accordions
        ////////////////////////////////////////////////////////////////
        $('#accordionCaptureImage').on('show.bs.collapse', async function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var resultElementId = 'captureImageBtnResult';
            var deviceListId = 'captureDeviceIdList';
            
            if (document.getElementById(deviceListId).length == 0)
            {
                // List empty.  Gather device list.
                
                toggleLoader(false);

                await GetDevices(deviceListId, true, false, 'Select Device', '0', resultElementId)
                    .then((response) => { 
                        if (response == false) {
                            // handle error?
                        }
                    })
                    .catch((err) => {
                    })
                    .finally(() => {
                        toggleLoader(true);
                    })
            }
        })

        $('#accordionSpecifyZone').on('show.bs.collapse', function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            enableDisableMouseEvent(true);

            $('#region_x').html(rect_zone[0].toString().padStart(3, ' '));
            $('#region_y').html(rect_zone[1].toString().padStart(3, ' '));

            $('#region_w').html(rect_zone[2].toString().padStart(3, ' '));
            $('#region_h').html(rect_zone[3].toString().padStart(3, ' '));
        })

        $('#accordionSpecifyZone').on('hide.bs.collapse', function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            enableDisableMouseEvent(false);
        })

        $('#accordionStartInference').on('show.bs.collapse', function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);

            // Add event listeners for sliders if not set.  Otherwise, just enable sliders.
            if (captureImageCountSlider.getAttribute('inputListner') == null)
            {
                captureImageCountSlider.addEventListener("input", function imageCountSliderHandler(evt) {
                    var count = parseInt(evt.target.value);

                    if (count == 0)
                    {
                        captureImageCountSliderLabel.innerHTML = "Continuous"
                    }
                    else
                    {
                        captureImageCountSliderLabel.innerHTML = evt.target.value;
                    }
                });
                captureImageCountSlider.setAttribute('inputListner', 'true');
            }
            else{
                captureImageCountSlider.disabled = false;
            }

            if (captureThresholdSlider.getAttribute('inputListner') == null)
            {
                captureThresholdSlider.addEventListener("input", function thresholdSliderHandler(evt) {
                    captureThresholdSliderLabel.innerHTML = evt.target.value;
                    zoneDetectionThresholdSlider.value = evt.target.value;
                    zoneDetectionThresholdLabel.innerHTML = evt.target.value;
                    currentThreshold = parseInt(evt.target.value) / 100;
                });
                captureThresholdSlider.setAttribute('inputListner', 'true');
            }
            else{
                captureThresholdSlider.disabled = false;
            }

            if (captureFrequencySlider.getAttribute('inputListner') == null)
            {
                captureFrequencySlider.addEventListener("input", function frequencySliderHandler(evt) {
                    captureFrequencySliderLabel.innerHTML = evt.target.value;
                    zoneDetectionFrequencySlider.value = evt.target.value;
                    zoneDetectionFrequencyLabel.innerHTML = evt.target.value;

                    var NotificationSliderValue = parseInt(zoneDetectionNotificationPeriodSlider.value);

                    if (NotificationSliderValue < parseInt(evt.target.value))
                    {
                        zoneDetectionNotificationPeriodSlider.value = evt.target.value;
                        zoneDetectionNotificationPeriodLabel.innerHTML = evt.target.value;
                    }
                });
                captureFrequencySlider.setAttribute('inputListner', 'true');
            }
            else{
                captureFrequencySlider.disabled = false;
            }
        })

        $('#accordionSaveParameter').on('show.bs.collapse', function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);

            if ((currentDeviceId == undefined) || (currentModelId == undefined))
            {
                $('#captureSaveParameterBtn').prop('disabled', true);
                return;
            }

            $('#captureSaveParameterBtn').prop('disabled', false);
        })

        ////////////////////////////////////////////////////////////////
        // Tabs
        ////////////////////////////////////////////////////////////////
        // Populate device list and model list when the tab is opened.
        $('#tab-telemetry-label').on('show.bs.tab', async function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var resultElementId = 'startZoneDetectionBtnResult';
            var deviceListId = 'zoneDetectionDeviceIdList';

            // only the first time
            if (document.getElementById(deviceListId).length == 0)
            {
                toggleLoader(false);
                // List empty.  Gather device list.
                await GetDevices(deviceListId, true, false, 'Select Device', '0', resultElementId)
                    .then((response) => {
                        if (response == false) {
                            // handle error?
                        }
                    })
                    .catch((err) => {
                    })
                    .finally(() => {
                        toggleLoader(true);
                    })
            }
            
            // Set selected device
            if (currentDeviceId != undefined) {
                setSelectOption('zoneDetectionDeviceIdList', currentDeviceId);
            }

            // Add event listeners for sliders if not set.  Otherwise, just enable sliders.
            if (zoneDetectionImageCountSlider.getAttribute('inputListner') == null)
            {
                zoneDetectionImageCountSlider.addEventListener("input", function zoneDetectionImageCountSliderHandler(evt) {
                    var count = parseInt(evt.target.value);

                    if (count == 0)
                    {
                        zoneDetectionImageCountLabel.innerHTML = "Continuous"
                    }
                    else
                    {
                        zoneDetectionImageCountLabel.innerHTML = evt.target.value;
                    }
                });
                zoneDetectionImageCountSlider.setAttribute('inputListner', 'true');
            }
            else{
                zoneDetectionImageCountSlider.disabled = false; 
            }

            if (zoneDetectionThresholdSlider.getAttribute('inputListner') == null)
            {
                zoneDetectionThresholdSlider.addEventListener("input", function zoneDetectionThresholdSliderHandler(evt) {
                    captureThresholdSlider.value = evt.target.value;
                    captureThresholdSliderLabel.innerHTML = evt.target.value;
                    zoneDetectionThresholdLabel.innerHTML = evt.target.value;
                    currentThreshold = parseInt(evt.target.value) / 100;
                });
                zoneDetectionThresholdSlider.setAttribute('inputListner', 'true');
            }
            else{
                zoneDetectionThresholdSlider.disabled = false; 
            }

            if (zoneDetectionIoUThresholdSlider.getAttribute('inputListner') == null)
            {
                zoneDetectionIoUThresholdSlider.addEventListener("input", function zoneDetectionIoUThresholdSliderHandler(evt) {
                    captureThresholdSlider.value = evt.target.value;
                    captureThresholdSliderLabel.innerHTML = evt.target.value;
                    zoneDetectionIoUThresholdLabel.innerHTML = evt.target.value;
                    currentIoUThreshold = parseInt(evt.target.value);
                });
                zoneDetectionIoUThresholdSlider.setAttribute('inputListner', 'true');
            }
            else{
                zoneDetectionIoUThresholdSlider.disabled = false; 
            }

            if (zoneDetectionFrequencySlider.getAttribute('inputListner') == null)
            {
                zoneDetectionFrequencySlider.addEventListener("input", function zoneDetectionFrequencySliderHandler(evt) {

                    // for capture, don't capture < 10 sec interval
                    captureFrequencySlider.value = Math.max(evt.target.value, 10);
                    captureFrequencySliderLabel.innerHTML = Math.max(evt.target.value, 10);
                    zoneDetectionFrequencyLabel.innerHTML = evt.target.value;

                        var NotificationSliderValue = parseInt(zoneDetectionNotificationPeriodSlider.value);

                        if (NotificationSliderValue < parseInt(evt.target.value)) {
                            zoneDetectionNotificationPeriodSlider.value = evt.target.value;
                            zoneDetectionNotificationPeriodLabel.innerHTML = evt.target.value;
                        }

                });
                zoneDetectionFrequencySlider.setAttribute('inputListner', 'true');
            }
            else{
                zoneDetectionFrequencySlider.disabled = false;
            }

            if (zoneDetectionNotificationPeriodSlider.getAttribute('inputListner') == null)
            {
                zoneDetectionNotificationPeriodSlider.addEventListener("input", function zoneDetectionNotificationPeriodSliderHandler(evt) {
                    var frequencyValue = parseInt(zoneDetectionFrequencySlider.value);
                    var value = parseInt(evt.target.value);

                    if (frequencyValue > value)
                    {
                        alert(`Notification Period must be greather than or equal to capture frequency.  Setting to ${frequencyValue} sec`);
                        value = frequencyValue;
                    }

                    zoneDetectionNotificationPeriodLabel.innerHTML = value.toString();
                    currentNotificationPeriod = value.toString();
                });
                zoneDetectionNotificationPeriodSlider.setAttribute('inputListner', 'true');
            }
            else{
                zoneDetectionNotificationPeriodSlider.disabled = false;
            }
        })

        // Disable sliders when the tab is unselected
        $('#tab-telemetry-label').on('hide.bs.tab', async function (evt) {

            if (zoneDetectionImageCountSlider.getAttribute('inputListner') == 'true')
            {
                zoneDetectionImageCountSlider.disabled = true;
            }
            
            if (zoneDetectionThresholdSlider.getAttribute('inputListner') == 'true')
            {
                zoneDetectionThresholdSlider.disabled = true;
            }

            if (zoneDetectionIoUThresholdSlider.getAttribute('inputListner') == 'true')
            {
                zoneDetectionIoUThresholdSlider.disabled = true;
            }

            if (zoneDetectionFrequencySlider.getAttribute('inputListner') == 'true')
            {
                zoneDetectionFrequencySlider.disabled = true;
            }

            if (zoneDetectionNotificationPeriodSlider.getAttribute('inputListner') == 'true')
            {
                zoneDetectionNotificationPeriodSlider.disabled = true;
            }
        })

        ////////////////////////////////////////////////////////////////
        // List Change events
        ////////////////////////////////////////////////////////////////
        $('#captureDeviceIdList').on('change', async function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var targetListId = evt.target.id;
            var modelListId = 'captureModelIdList';
            var deviceList = document.getElementById(targetListId);
            var resultElementId = 'captureImageBtnResult';

            // populate model list if
            // current device is not selected
            // selected device is changed
            // model list is empty
            if ((currentDeviceId == undefined) || (currentDeviceId != deviceList[deviceList.selectedIndex].value) || (document.getElementById(modelListId).length == 0)) {

                // a different device is selected.  Clear current model id.
                if (currentDeviceId != deviceList[deviceList.selectedIndex].value) {
                    currentModelId = undefined;
                }
                
                currentDeviceId = deviceList[deviceList.selectedIndex].value;
                toggleLoader(false);
                await GetModelForDevice(modelListId, currentDeviceId, resultElementId)
                    .then(async function(isDisconnected) {
                        deviceList[deviceList.selectedIndex].setAttribute("data-isDisconnected", isDisconnected);

                        if (isDisconnected == false)
                        {
                            // Make sure the device is not running inference.
                            await StopInference(null, true);
                        }

                        // model is already selected.  Set selected model and dispatch change event
                        if (currentModelId != undefined) {
                            document.getElementById(modelListId).value = currentModelId;
                            document.getElementById(modelListId).dispatchEvent(new Event("change"));
                        }
                    })
                    .catch((err) => {
                        var resultElement = document.getElementById(resultElementId);
                        setResultElement(resultElement, "Failed to retrieve model list");
                    })
                    .finally(() => {
                        toggleLoader(true);
                    });
            }
        })

        $('#captureModelIdList').on('change', function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var targetListId = evt.target.id;
            var deviceListId = 'captureDeviceIdList';
            var modelList = document.getElementById(targetListId);
            var deviceList = document.getElementById(deviceListId);

            if (modelList.selectedIndex > 0)
            {
                // a model is selected
                currentModelId = modelList[modelList.selectedIndex].value;
                disableUiElements(false);
            }
            else
            {
                disableUiElements(true);
            }

            // device and model are selected.  Check to see if the device is connected or not.
            // If the device is online, enable capture button.
            if (deviceList.selectedIndex > 0 && modelList.selectedIndex > 0) {
                var isDisconnected = (deviceList[deviceList.selectedIndex].getAttribute("data-isDisconnected") === 'true');
                $('#captureImageBtn').prop('disabled', isDisconnected);
            }
        })

        $('#zoneDetectionDeviceIdList').on('change', async function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var targetListId = evt.target.id;
            var modelListId = 'zoneDetectionModelIdList';
            var resultElementId = 'startZoneDetectionBtnResult';
            var deviceList = document.getElementById(targetListId);

            if (currentDeviceId != deviceList[deviceList.selectedIndex].value)
            {
                currentModelId = undefined;
            }

            currentDeviceId = deviceList[deviceList.selectedIndex].value;

            toggleLoader(false);

            // update the model list.
            await GetModelForDevice(modelListId, currentDeviceId, resultElementId)
                .then(async function(isDisconnected) {

                    var modelList = document.getElementById(modelListId);

                    deviceList[deviceList.selectedIndex].setAttribute("data-isDisconnected", isDisconnected);

                    // enable/disable start buttons based on connection state
                    if (modelList.selectedIndex > 0 && isDisconnected == false) {
                        $('#startZoneDetectionBtn').prop('disabled', false);
                        $('#startZoneDetectionWithImageBtn').prop('disabled', false);

                    } else {
                        $('#startZoneDetectionBtn').prop('disabled', true);
                        $('#startZoneDetectionWithImageBtn').prop('disabled', true);
                    }

                    // make sure the device is not running inference.
                    if (isDisconnected == false)
                    {
                        await StopInference(null, true);
                    }

                    // set selected model
                    if (currentModelId != undefined)
                    {
                        setSelectOption('zoneDetectionModelIdList', currentModelId);
                    }
                })
                .finally(() => {
                    toggleLoader(true);
                });
        })

        $('#zoneDetectionModelIdList').on('change', async function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var deviceListId = 'zoneDetectionDeviceIdList';
            var modelListId = evt.target.id;
            var deviceList = document.getElementById(deviceListId);
            var modelList = document.getElementById(modelListId);
            currentModelId = modelList[modelList.selectedIndex].value;

            // enable start buttons only when a device is online.
            if (deviceList.selectedIndex > 0 && modelList.selectedIndex > 0) {

                var isDisconnected = (deviceList[deviceList.selectedIndex].getAttribute("data-isDisconnected") === 'true');
                $('#startZoneDetectionWithImageBtn').prop('disabled', isDisconnected);
                $('#startZoneDetectionBtn').prop('disabled', isDisconnected);
            }
        })

        ////////////////////////////////////////////////////////////////
        // Button Clicks
        ////////////////////////////////////////////////////////////////

        // Refresh Device List for Setup 1 -> Step 1 : Capture Image
        $('#captureDeviceIdListRefreshBtn').click(function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var resultElementId = 'captureImageBtnResult';

            toggleLoader(false);
            // remember current selection
            var selectedVal = $('#captureDeviceIdList option:selected').val();

            GetDevices('captureDeviceIdList', true, false, 'Select Device', '0', resultElementId)
                .then(() => { 
                })
                .catch((err) => {
                })
                .finally(() => {
                    if (selectedVal != null && selectedVal.length > 0) {
                        console.debug(selectedVal);
                        $('select[name="captureDeviceIdList"]').val(selectedVal);
                    }
                    toggleLoader(true);
                })
        })

        // Capture an image.
        $('#captureImageBtn').click(function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var resultElementId = 'captureImageBtnResult';
            toggleLoader(false);

            // Clear the canvas
            ClearCaptureCanvas();
            CaptureImage(resultElementId)
                .finally(() => {
                    toggleLoader(true);
                });
        })
        
        // Start inference on capture image
        $('#captureStartInferenceBtn').click(function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            toggleLoader(false);
            StartInference('captureStartInferenceBtnResult')
                .then(() => { })
                .finally(() => {
                    // disable UI elements, but enabled stop button
                    disableUiElements(true);
                    $('#captureStopInferenceBtn').prop('disabled', false);
                    toggleLoader(true);
                });
        })

        // Stop inference on capture image
        $('#captureStopInferenceBtn').click(function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            toggleLoader(false);
            StopInference('captureStartInferenceBtnResult', true)
                .then(() => { })
                .finally(() => {
                    // enable UI elements, but disable stop button
                    disableUiElements(false);
                    $('#captureStopInferenceBtn').prop('disabled', true);
                    toggleLoader(true);
                });
        })

        // Save parameters to cookie
        $('#captureSaveParameterBtn').click(function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            toggleLoader(false);
            SaveParameterToCookie()
                .then(() => { })
                .finally(() => {
                    toggleLoader(true);
                });
        })

        // Refresh device list in Zone Detection Tab
        $('#zoneDetectionDeviceIdListRefreshBtn').click(function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            var resultElementId = 'startZoneDetectionBtnResult';

            toggleLoader(false);
            var selectedVal = $('#captureDeviceIdList option:selected').val();

            GetDevices('zoneDetectionDeviceIdList', true, false, 'Select Device', '0', resultElementId)
                .then(() => {
                })
                .catch((err) => {
                })
                .finally(() => {
                    if (selectedVal != null && selectedVal.length > 0) {
                        console.debug(selectedVal);
                        $('select[name="captureDeviceIdList"]').val(selectedVal);
                    }
                    toggleLoader(true);
                })
        })

        // Start Inference on Zone Detection (Telemetry/Events tab)
        $('#startZoneDetectionBtn').click(async function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            toggleLoader(false);

            // set attribute so we know which API to use to stop inference
            document.getElementById('stopZoneDetectionBtn').setAttribute("data-withImage", false);

            // No image
            await StartZoneDetection('startZoneDetectionBtnResult', false)
                .then((bStarted) => { 
                    if (bStarted)
                    {
                        isZoneDetectionRunning = true;
                        disableUiElements(true);
                        $('#stopZoneDetectionBtn').prop('disabled', false);
                    }
                })
                .finally(() => {
                    toggleLoader(true);
                });
        })

        // Start Inference with image on Zone Detection (Telemetry/Events tab)
        $('#startZoneDetectionWithImageBtn').click(async function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            toggleLoader(false);

            // set attribute so we know which API to use to stop inference
            document.getElementById('stopZoneDetectionBtn').setAttribute("data-withImage", true);

            // With Image
            await StartZoneDetection('startZoneDetectionBtnResult', true)
                .then((bStarted) => { 
                    if (bStarted)
                    {
                        isZoneDetectionRunning = true;
                        disableUiElements(true);
                        $('#stopZoneDetectionBtn').prop('disabled', false);
                    }
                })
                .finally(() => {
                    toggleLoader(true);
                });
        })

        // Stop inference
        $('#stopZoneDetectionBtn').click(function (evt) {
            //console.debug(evt.target.id + "() " + evt.type);
            toggleLoader(false);

            // check if the inference is running with image or not
            var withImage = (document.getElementById('stopZoneDetectionBtn').getAttribute("data-withImage") === 'true');

            console.debug(`With Image ${document.getElementById('stopZoneDetectionBtn').getAttribute("data-withImage")}`)

            StopInference('startZoneDetectionBtnResult', withImage)
                .then(() => { })
                .finally(() => {
                    disableUiElements(false);
                    $('#stopZoneDetectionBtn').prop('disabled', true);
                    toggleLoader(true);
                    isZoneDetectionRunning = false;
                });
        })
    </script>
</body>